/*main site structure*/

.top {
  display: grid;
  grid-template-areas: "a b c"
                       "d e f";
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 2.5fr 7.5fr;
  }
  
  .topg1 { grid-area: b; 
  }
  .topg2 { grid-area: d; 
           display: grid;
           grid-template-areas: "a b c" "d e f" "g h i" "j k l";
           grid-template-columns: 30% 55% 15%;
           grid-template-rows: 1fr 5fr 6fr 4fr;
  }
  .topg3 { grid-area: e; 
  }
  
/*main grid structure*/

.parent {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33% .1%;
  column-gap: 10px;
  row-gap: 10px; 

}
.grid1wrapper { grid-area: 1 / 1 / 2 / 2;  
  text-align: left;
  font-size: 3vh;
  font-family: 'bebas';
  color: black;
}


.grid2wrapper { grid-area: 1 / 2 / 2 / 3;
  text-align: left;
  font-size: 3vh;
  font-family: 'bebas';
  color: black;
}

.grid3wrapper { grid-area: 1 / 3 / 2 / 4;
  text-align: left;
  font-size: 3vh;
  font-family: 'bebas';
  color: black;
}

/*main grid opening controls*/

.opengrid1 {
  display: grid;
  grid-template-columns: 66.67% 16.67% 16.67%; 
  column-gap: 10px;
  row-gap: 10px; 
}

.opengrid2 {
  display: grid;
  grid-template-columns: 16.67% 66.67% 16.67%; 
  column-gap: 10px;
  row-gap: 10px; 
}

.opengrid3 {
  display: grid;
  grid-template-columns: 16.67% 16.67% 66.67%; 
  column-gap: 10px;
  row-gap: 10px; 
}

/*first column grid structure*/

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px; 
}
.g1div1 { grid-area: 1 / 1 / 2 / 3; 
  background-color: rgb(255, 255, 255);
  height: 16vh;
 }
.g1div2 { grid-area: 2 / 1 / 3 / 3; 
  background-color: rgb(255, 255, 255);
}
.g1div3 { grid-area: 3 / 1 / 4 / 3; 
  background-color: rgb(255, 255, 255);
}
.g1div4 { grid-area: 1 / 1 / 2 / 2; 
  background-color: rgb(255, 255, 255);
}
.g1div5 { grid-area: 1 / 2 / 2 / 3; 
  background-color: rgb(255, 255, 255);
}
.g1div6 { grid-area: 2 / 1 / 3 / 2; 
  background-color: rgb(255, 255, 255);
}
.g1div7 { grid-area: 2 / 2 / 3 / 3; 
  background-color: rgb(255, 255, 255);
}
.g1div8 { grid-area: 3 / 1 / 4 / 2; 
  background-color: rgb(255, 255, 255);
}
.g1div9 { grid-area: 3 / 2 / 4 / 3; 
  background-color: rgb(255, 255, 255);
} 

/*second column grid structure*/

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px; 
}

.g2div1 {  grid-area: 1 / 1 / 2 / 3; 
  background-color: rgb(255, 255, 255);
  height: 16vh;
  }
.g2div2 { grid-area: 2 / 1 / 3 / 3; 
  background-color: rgb(255, 255, 255);
 }
.g2div3 { grid-area: 3 / 1 / 4 / 3; 
  background-color: rgb(255, 255, 255);
 }
.g2div4 { grid-area: 1 / 1 / 2 / 2; 
  background-color: rgb(255, 255, 255);
 }
.g2div5 { grid-area: 1 / 2 / 2 / 3; 
  background-color: rgb(255, 255, 255);
 }
.g2div6 { grid-area: 2 / 1 / 3 / 2; 
  background-color: rgb(255, 255, 255);
 }
.g2div7 { grid-area: 2 / 2 / 3 / 3; 
  background-color: rgb(255, 255, 255);
 }
.g2div8 { grid-area: 3 / 1 / 4 / 2; 
  background-color: rgb(255, 255, 255);
 }
.g2div9 { grid-area: 3 / 2 / 4 / 3; 
  background-color: rgb(255, 255, 255);
 } 

/*third column grid structure*/

.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px; 
}

.g3div1 { grid-area: 1 / 1 / 2 / 3; 
  background-color: rgb(255, 255, 255);
  height: 16vh;
}
.g3div2 { grid-area: 2 / 1 / 3 / 3;  
  background-color: rgb(255, 255, 255);
}
.g3div3 { grid-area: 3 / 1 / 4 / 3;  
  background-color: rgb(255, 255, 255);
}
.g3div4 { grid-area: 1 / 1 / 2 / 2;  
  background-color: rgb(255, 255, 255);
}
.g3div5 { grid-area: 1 / 2 / 2 / 3;  
  background-color: rgb(255, 255, 255);
}
.g3div6 { grid-area: 2 / 1 / 3 / 2;  
  background-color: rgb(255, 255, 255);
}
.g3div7 { grid-area: 2 / 2 / 3 / 3;  
  background-color: rgb(255, 255, 255);
}
.g3div8 { grid-area: 3 / 1 / 4 / 2;  
  background-color: rgb(255, 255, 255);
}
.g3div9 { grid-area: 3 / 2 / 4 / 3;  
  background-color: rgb(255, 255, 255);
}

/*close buttons and grid head*/

.gridheadwrapper {
  display: grid;
  grid-template-areas: 'a b';  
  grid-template-columns: 1fr 1fr;
  }

.active {
  background-color: darkgray;
  color: white;
}

.gridh1 {
  grid-area: a;  
  }

.gridh2 {
  grid-area: a;  
  }

.gridh3 {
  grid-area: a;  
  }

.close1{
  display:none;
  color:black;
  font-size: 3vh;
  align-content: right;
  text-align: right;
  grid-area: b;  
  cursor: pointer;
}

.close2{
  display:none;
  color:black;
  font-size: 3vh;
  align-content: right;
  text-align: right;
  grid-area: b;
  cursor: pointer;

}

.close3{
  display:none;
  color:black;
  font-size: 3vh;
  align-content: right;
  text-align: right;
  grid-area: b; 
  cursor: pointer;

}


.close1:hover{
  color:white;
  background-color: darkgray;
  font-size: 3vh;
  align-content: right;
  text-align: right;

}

.close2:hover{
  color:white;
  background-color: darkgray;
  font-size: 3vh;
  align-content: right;
  text-align: right;

}

.close3:hover{
  color:white;
  background-color: darkgray;
  font-size: 3vh;
  align-content: right;
  text-align: right;

}


/*text controls*/

.head {
  text-align: left;
  font-size: 8vh;
  font-family: 'Code';
  font-weight: bold;
}

.subhead {
  text-align: left;
  font-size: 4vh;
  font-family: bebas;
  font-weight: lighter;
}

.gridhead {
  text-align: left;
  font-size: 3vh;
  font-family: 'bebas';
}

.sidetext {
  grid-area: e;
  text-align: left;
  font-size: 1.8vh;
  font-family: Arial, Helvetica, sans-serif;
}
.sidetext2 {
  grid-area: h;
  text-align: left;
  font-size: 1.8vh;
  font-family: Arial, Helvetica, sans-serif;
}

.sidetext3 {
  grid-area: k;
  text-align: left;
  font-size: 2vh;
}

/*interaction and feedback controls*/

/*
.grid1:hover .gridh1 { 
  background-color: darkgray;
  color: white;
} 

.grid2:hover .gridh2 {
  background-color: darkgray;
  color: white;
}

.grid3:hover .gridh3 {
  background-color: darkgray;
  color: white;
}

.gridheadwrapper:hover {
  background-color: darkgray;
  color: white;
}

/*image jquery classes*/

.hover {
  background-color: darkgray;
  color: white;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

.img1 {
  display: inherit;
  height: 16vh;
  width: 16vh;
  object-fit: cover;
  }

 .img2 {
  display: inherit;
  height: 16vh;
  width: 16vh;
  object-fit: cover;
  }
  
 .img3 {
  display: inherit;
  height: 16vh;
  width: 16vh;
  object-fit: cover;
  }

  .imgon {
  width: 32vh;
  height: 16vh;
  margin-left: auto;
  margin-right: auto;
  display: inherit;
  object-fit: cover;
  }

.imgoff {
  display: none;
}

.noHover {
  pointer-events: none;
}
